:root {
  --primary-color: #dd4b39;
}

#app {
  max-width: 30em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  font-size: 20px;
  line-height: 1.5;
  background: #eee;
  color: #333;
}

em {
  font-style: normal;
  color: var(--primary-color);
}

.task-list {
  display: block;
  margin: 1em 0;
  padding: 1em;
  background: #fff;
}

.task-item {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr auto;
  grid-gap: 1em;
  align-items: center;
}

.task-item:not(:first-child) {
  border-top: 1px solid #ccc;
}

.task-item.done {
  text-decoration: line-through;
}
